@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root {
  --accent-color: #0080ff;
  --white-color: #fff;
  --light-border-color: #ebebeb;
  --modal-bg-color: rgba(0, 0, 0, 0.8);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100vh;
  overflow: hidden;
}

.Sidebar {
  min-width: 225px;
  height: 100%;
}

.Main {
  width: 100%;
  height: 100%;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--modal-bg-color);
}

.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: var(--white-color);
}

.User {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid var(--light-border-color);
}

.User .logo {
  width: 50px;
  height: 50px;
}

.User .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3rem;
}

.User .info p {
  font-size: 16px;
  font-weight: bold;
}

.User .info a {
  font-size: 14px;
  text-decoration: none;
}

.User .info a:hover {
  text-decoration: underline;
}

.AddNewTodo {
  border-bottom: 1px solid var(--light-border-color);
}

.AddNewTodo .btn {
  padding: 1rem;
  width: 90%;
  height: 75px;
  margin: 0 auto;
}

.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 3px;
  font-size: 16px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}

.AddNewTodo .btn button:hover {
  background-color: var(--white-color);
  color: var(--accent-color);
}

.AddNewTodo form {
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  width: 500px;
  background-color: var(--white-color);
  border-radius: 4px;
}

.AddNewTodo form .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 14px;
}

.AddNewTodo form .text input:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.AddNewTodo form .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.AddNewTodo form p {
  margin-left: 10px;
}

.AddNewTodo form .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.AddNewTodo form .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.AddNewTodo form .pick-time {
  padding: 1.5rem;
}

.AddNewTodo form .pick-project {
  padding: 0.5rem;
}

.AddNewTodo form .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}

.AddNewTodo form .pick-project .projects .project {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.AddNewTodo form .pick-project .projects .active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.AddNewTodo form .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.AddNewTodo form .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.AddNewTodo form .confirm button {
  width: 100%;
  height: 45px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: 16px;
  border: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  width: 320px !important;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
  width: 320px !important;
}

.Calendar {
  padding: 1rem;
  border-bottom: 1px solid var(--light-border-color);
}

.Calendar .header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.Calendar .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Calendar .header .title p {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.Calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
}

.Calendar .header .btns span:hover {
  background-color: var(--light-border-color);
}

.Calendar .items {
  padding: 1rem;
}

.Calendar .items .item {
  padding: 0.5rem;
  font-size: 14px;
  cursor: pointer;
}

.Calendar .items .item:hover {
  text-decoration: underline;
}